* {
  box-sizing: border-box;
}

html {
  background: #a8deee;
}

body {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

button:focus {
  outline: none;
}

input:focus {
  outline: none;
}
