{% extends "base.html" %} {% load static %}{% block title %}Cloud{% endblock %} {% block content %}
<main class="cloud">
    <ul class="cloud__lightnings">
        {% for lightning in all_lightnings %}
        <li class="cloud__lightning">
            <div class="cloud__user">
                <img src="{% static 'images/avatar.jpg' %}">
                <span>{{lightning.created_by}}</span>
            </div>
            <span class="cloud__message">{{lightning.message}}</span>
            <div class="cloud__buttons">
                <button>catch</button>
                <a href="{% url 'lightning' lightning.id %}">
                    <button>more</button>
                </a>
            </div>

        </li>
        {% endfor %}
    </ul>


</main>
{% endblock %}